.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
Data Engineer/6. Настройка мониторинга/monitoring/
.ipynb_checkpoints/
*.exe
Data Engineer/6. Настройка мониторинга/monitoring/
Data Engineer/Все материалы курса/
