POSTGRES_USER=msdp
POSTGRES_PASSWORD=msdp_secret
POSTGRES_DB=msdp

MONGO_USER=msdp
MONGO_PASSWORD=msdp_secret

GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

NIFI_USER=admin
NIFI_PASSWORD=admin1234567890
NIFI_SENSITIVE_PROPS_KEY=msdp_nifi_key_123456

FTP_USER=msdp
FTP_PASSWORD=msdp_secret